@model AllContactViewModel
@{
    ViewData["Title"] = "All Contact";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <br>
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Your All Contact.</div>
            <div class="panel-body">
                <table id="contactTable" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phones</th>
                            <th>Address</th>
                            <th>Website</th>
                            <th>Birth Date</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Phones</th>
                            <th>Address</th>
                            <th>Website</th>
                            <th>Birth Date</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach(People Contact in Model.MyContacts)
                        {
                            <tr>
                                <td>@Contact.DisplayName() </td>
                                <td>
                                    @foreach (var phone in Contact.Phones)
                                        {
                                            <p>@phone.Number</p>
                                        }
                                </td>
                                <td>@Contact.Address</td>
                                <td>@Contact.WebSite</td>
                                <td>@Contact.BirthDate</td>
                                <td>
                                   <form asp-controller="Contact" asp-action="ViewPeople"  method="post">
                                        <button type="submit" class="btn btn-primary btn-sm" value="@Contact.Id" name="peopleId" data-toggle="tooltip" data-placement="bottom" title="View!">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
